<?php

namespace Clippings\ParsedownProvider;

use PhpCsFixer\Config;
use Symfony\Component\Finder\Finder;

$finder = Finder::create()
    ->files()
    ->name('*.php')
    ->ignoreDotFiles(true)
    ->ignoreUnreadableDirs(true)
    ->ignoreVCS(true)
    ->in(array(
        'src',
        'tests',
    ));

return Config::create()
    ->setRules([
        '@Symfony' => true,
        'ereg_to_preg' => true,
        'php_unit_construct' => true,
        'php_unit_dedicate_assert' => true,
        'php_unit_strict' => true,
        'random_api_migration' => true,
        'phpdoc_order' => true,
        'combine_consecutive_unsets' => true,
        'dir_constant' => true,
        'linebreak_after_opening_tag' => true,
        'no_short_echo_tag' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_imports' => true,
        'array_syntax' => ['syntax' => 'short'],
        '@PHP70Migration' => true,
        '@PHP71Migration' => true,
    ])
    ->setUsingCache(true)
    ->setRiskyAllowed(true)
    ->setFinder($finder);
